<footer class="footer">
  <div class="footer-contact">
    <div class="footer-inner-container
                footer-inner-container-contact">
      <!--<div class="footer-contact__wrap">-->
      <div class="footer-contact__block
                    footer-contact__block-separate">
        <div class="footer-contact__title">
          Headquarters:
        </div>
        <div class="footer-contact__address">
          11 E. Chavdar Street, Office 222,
          Kiev, Ukraine 04335
        </div>
      </div>
      <div class="footer-contact__countries">
        <div class="footer-contact__block">
          <div class="footer-contact__title">
            USA:
          </div>
          <div class="footer-contact__info">
              <span class="footer-contact__email">
                usa.hr@trinetix.com
              </span>
            <span class="footer-contact__phone">
                +1 212-336-1440
              </span>
          </div>
        </div>
        <div class="footer-contact__block">
          <div class="footer-contact__title">
            Ukraine:
          </div>
          <div class="footer-contact__info">
              <span class="footer-contact__email">
                ua.hr@trinetix.com
              </span>
            <span class="footer-contact__phone">
                +38 044-334-23-41
              </span>
          </div>
        </div>
      </div>
      <!--</div>-->
    </div>
  </div>
  <div class="footer-nav">
    <div class="footer-nav__container footer-inner-container">
      <div class="footer-nav__copyright">
        <i class="far fa-copyright"></i>
        2010-2015 Trinetix LLC
      </div>
      <nav class="footer-nav__menu">
        <ul class="footer-nav__nav">
          <li class="footer-nav__item">
            <a class="footer-nav__link">Home</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link">Case studies</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link">Services</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link">Exertise</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link">About</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="footer-nav__social-menu">
        <div class="footer-nav__social-item">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="footer-nav__social-item">
          <i class="fab fa-linkedin-in"></i>
        </div>
        <div class="footer-nav__social-item">
          <i class="fab fa-google-plus-g"></i>
        </div>
        <div class="footer-nav__social-item">
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
