
<header class="header">
  <div class="header__inner inner-container">
    <div class="header__logo">
      <a href="#" class="header__logo-link">
        <img src="assets/img/logo.png" alt="">
      </a>
    </div>

    <div class="header__navbar-menu">
      <!--Navbar-->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark navbar-header-custom">

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link">Case studies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Exertise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-btn-link">Contact us</a>
            </li>

          </ul>
        </links>
        <!-- Collapsible content -->

      </mdb-navbar>
      <!--/.Navbar-->
    </div>

  </div>
</header>

<section class="summary">
  <div class="summary__inner inner-container">
    <p class="summary__text">
      We work with forward businesses to create
      new digital platforms, products and services.
    </p>
  </div>
</section>

