
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

@font-face {
  font-family: 'DecimaNovaProBold';
  src: url('assets/fonts/DecimaNovaPro-Bold.eot');
  src: url('assets/fonts/DecimaNovaPro-Bold.woff2') format('woff2'),
  url('assets/fonts/DecimaNovaPro-Bold.woff') format('woff'),
  url('assets/fonts/DecimaNovaPro-Bold.ttf') format('truetype'),
  url('assets/fonts/DecimaNovaPro-Bold.svg#DecimaNovaPro-Bold') format('svg'),
  url('assets/fonts/DecimaNovaPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DecimaNovaProLt';
  src: url('assets/fonts/DecimaNovaProLt.eot');
  src: url('assets/fonts/DecimaNovaProLt.woff2') format('woff2'),
  url('assets/fonts/DecimaNovaProLt.woff') format('woff'),
  url('assets/fonts/DecimaNovaProLt.ttf') format('truetype'),
  url('assets/fonts/DecimaNovaProLt.svg#DecimaNovaProLt') format('svg'),
  url('assets/fonts/DecimaNovaProLt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DecimaNovaPro';
  src: url('assets/fonts/DecimaNovaPro.eot');
  src: url('assets/fonts/DecimaNovaPro.woff') format('woff'),
  url('assets/fonts/DecimaNovaPro.ttf') format('truetype'),
  url('assets/fonts/DecimaNovaPro.svg#DecimaNovaPro') format('svg'),
  url('assets/fonts/DecimaNovaPro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
